services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    networks:
      - Yueji_Network
    depends_on:
      - db
    ports:
      - "80:8080"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: yueji_user
      POSTGRES_PASSWORD: yueji_password
      POSTGRES_DB: yueji_db
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - Yueji_Network

volumes:
  db-data:
networks:
  Yueji_Network:
    driver: bridge
